.MainCont {
  width: 100%;
}

.navcontainer {
  background-color: rgb(34, 33, 29);
  width: 90%;
  height: auto;
  margin: 0 auto;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.navcontainer div {
  display: inline-flex;
}

.header {
  width: 10%;
  margin-bottom: 10px;
  margin-left: 50px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: burlywood;
}

.ulContainer {
  width: 70%;
  margin:auto 100px;
}

.uul{
 margin:20px auto; 
 margin-left:600px;
 display: block;
}



.ulstyle {
  margin-left: 40px;
  margin-top: 20px;
  list-style-type: none;
  display: flex;
   /* float: right; */
}

.ulstyle li {
  margin-left: 40px;
}

.listStyle {
  color: burlywood;
  font-size: 16px;
  font-weight: 400;
}

@media only screen and (max-width: 650px) {
.uul {
margin:0px auto; 
display: inline-flex;
width: min-content;

  }

  .header {
    width: 5%;
    margin-bottom: 0px;
    margin-left: 50px;
  
  }

  .ulContainer{
    width: auto;
    margin:auto 0px;
  }


}
